@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #9bf0ff;
  height: 100vh;
  display: grid;
  place-items: center center;
  font-family: 'Poppins', sans-serif;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 20px;
  grid-gap: 40px;
}

.card {
  background-color: #e7ff9a;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(226, 6, 6, 0.18);
  
}

.card:hover {
  transform: translateY(-5px);
}
.container{
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.container img {
  width: 100%;
  display: block;
  border-radius: 0;
}

.container::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  inset: 0;
  opacity: 0.7;
}

.card1 .container::after {
  background: linear-gradient(135deg, #72ebe1, #e00f40);
}

.card2 .container:after {
  background: linear-gradient(135deg, #a6ea30, #e7596c);
}

.card3 .container::after {
  background: linear-gradient(135deg, #9c86f2, #0b24a5);
}

.details {
  padding: 20px 10px;
  text-align: left;
}

.details>h3 {
  color: #100202;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px 0 15px 0;
}

.details>p {
  color: #ef7b0e;
  font-size: 15px;
  line-height: o.9;
}
@media(max-width:768px){
    .cards{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto auto;
        grid-gap: 50px;
    }
    .container{
        clip-path: polygon(0 0,100% 0,100% 85%,0 100%);
    }
}

@media(min-width: 650px) and (max-width: 990px){
  .cards{
    grid-template-columns: repeat(1,1fr);
    grid-gap: 30px;
  }
}
